.gradient-background {
  background: linear-gradient(300deg, #13005A, #00337C, #1C82AD, #03C988);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.paula {
  height: 220px;
  border-radius: 10%;
}

#title {
    color: white;
}


img {
    border-radius: 10%;
}

